{% extends 'base.html' %}

{% block title %}CONSULTAS | CREATE{% endblock %}

{% block content %}

<h1>Registro de Consulta</h1>

<form action="{{ url_for('consulta.create') }}" method="POST">
  <div class="mb-3">
    <label class="form-label">Medico</label>
    <select name="medico_id" class="form-control" required>
      <option value="">Seleccione un Medico</option>
      {% for medico in medicos %}
        <option value="{{medico.id}}">{{medico.nombre}} - {{medico.especialidad}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Paciente</label>
    <select name="paciente_id" class="form-control" required>
      <option value="">Seleccione un Paciente</option>
      {% for paciente in pacientes %}
        <option value="{{paciente.id}}">{{paciente.nombre}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Fecha</label>
    <input type="date" class="form-control" name="fecha" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Diagnostico</label>
    <textarea class="form-control" name="diagnostico" rows="3" required></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Tratamiento</label>
    <textarea class="form-control" name="tratamiento" rows="3" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Registrar Consulta</button>
</form>

{% endblock %}