{% extends 'base.html' %}

{% block title %}CONSULTAS{% endblock %}

{% block content %}

<h1>Lista de Consultas</h1>

<a href="{{ url_for('consulta.create') }}" class="btn btn-success mb-3">Nuevo</a>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Fecha</th>
    <th>Medico</th>
    <th>Paciente</th>
    <th>Diagnostico</th>
    <th>Tratamiento</th>
    <th></th>
    <th></th>
  </tr>
  {% for item in consultas %}
  <tr>
    <td>{{item.id}}</td>
    <td>{{item.fecha.strftime('%d/%m/%Y')}}</td>
    <td>{{item.medico.nombre}}</td>
    <td>{{item.paciente.nombre}}</td>
    <td>{{item.diagnostico}}</td>
    <td>{{item.tratamiento}}</td>
    <td>
      <a href="{{ url_for('consulta.edit', id=item.id) }}" class="btn btn-warning">Editar</a>
    </td>
    <td>
      <a href="{{ url_for('consulta.delete', id=item.id) }}" class="btn btn-danger">Eliminar</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}